*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.bg1{
    background-color: rgb(240, 240, 240);
    width: 100%;
    height: 130vh;
    background-position: center;
    background-size: cover;
    
}
.bg2{
    background-color:#f8f7f7;
    width: 100%;
    height: 120vh;
    background-position: center;
    background-size: cover;
}
.bg3{
    background-color:#e9e4e4;
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
}
.txt1{
    font-size: 55px;
    position: absolute;
    top: 32%;
    left: 5%;
    gap: 2px;
    font-family: Raleway, sans-serif;
}
.btn1{
    height: 60px;
    width: 300px;
    color: white;
    background-color: #f16521;
    border: none;
    border-radius: 40px;
    position: absolute;
    top: 78%;
left: 5%;
font-size: medium;
box-shadow: 0px 5px 20px #f16521 ;
}
.btn1:hover{
    background-color: #ca541e;
    
}
.box1, .box2, .box3,.box4,.box5,.box6,.box7,.box8,.box9,.box10,.box11,.box12{
        width: 100px;
        height: 130px;
        background-color: #f9f9f9;
        box-shadow: -20px -20px 20px white ;
        border-radius: 10px;
        
        

        
        
}
.box1, .box2, .box3,.box4,.box5,.box6,.box7,.box8,.box9,.box10,.box11,.box12:hover{
    transform: translatex( -20px);
    transition: transform all ease 0.5s;
    
}
.box1{
    position: absolute;
    top: 30%;
    left: 55%;
    
}
.box2{
    position: absolute;
    top: 30%;
    left: 66%;
}
.box3{
    position: absolute;
    top: 30%;
    left: 77.5%;
}
.box4{
    position: absolute;
    top: 30%;
    left: 89%;
}
.box5{
    position: absolute;
    top: 55%;
    left: 55%;
}
.box6{
    position: absolute;
    top: 55%;
    left: 66%;
}
.box7{
    position: absolute;
    top: 55%;
    left: 77.5%;
}
.box8{
    position: absolute;
    top: 55%;
    left: 89%;
}
.box9{
    position: absolute;
    top: 80%;
    left: 55%;
}
.box10{
    position: absolute;
    top: 80%;
    left: 66%;
}
.box11{
    position: absolute;
    top: 80%;
    left: 77.5%;
}
.box12{
    position: absolute;
    top: 80%;
    left: 89%;
}
.bg1 img{
    margin-top: 20px;
    margin-left: 17px;
}
.con1, .con2, .con3, .con4, .con5, .con6, .con7, .con8, .con9, .con10, .con11, .con12{
    border-radius: 50%;
    background-color: #f5f5f5;
    width: 60px;
    height: 60px;
    margin-top: 20px;
    margin-left: 20px;
    justify-content: center;
    align-items: center;
    
}
.span1{
    font-size: 13px;
    margin-left: 13px;
    font-weight: 1000;
    margin-bottom: 25px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.span2{
    font-size: 13px;
    margin-left: 17px;
    font-weight: 1000;
    margin-bottom: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ; 
}
.span3{
    font-size: 13px;
    margin-left: 4px;
    font-weight: 1000;
    margin-top: 37px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
}
.span4{
    font-size: 13px;
    margin-left: 23px;
    font-weight: 1000;
    margin-bottom: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif  ;
}
.span5{
    font-size: 13px;
    margin-left: 18px;
    font-weight: 1000;
    margin-bottom: 25px;
    text-align: end;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif  ;
}
.span6{
    font-size: 13px;
    margin-left: 18px;
    font-weight: 1000;
    text-align: center;
    margin-bottom: 25px;
    text-align: end;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif  ;
}
.span6a{
    font-size: 13px;
    margin-left: 28px;
    font-weight: 1000;
    text-align: center;
    margin-bottom: 25px;
    text-align: end;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif  ;
}
.span7{
    font-size: 13px;
    margin-left: 24px;
    font-weight: 1000;
    
    margin-bottom: 25px;
    text-align: end;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif  ;
}
.span7a{
    font-size: 13px;
    margin-left: 14px;
    font-weight: 1000;
    text-align: center;
    margin-bottom: 25px;
    text-align: end;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif  ;
}
.span8{
    font-size: 13px;
    margin-left: 18px;
    font-weight: 1000;
    text-align: center;
    margin-bottom: 25px;
    text-align: end;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif  ;
}
.span9{
    font-size: 13px;
    margin-left: 7px;
    font-weight: 1000;
    text-align: center;
    margin-bottom: 25px;
    text-align: end;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif  ;
}
.span9a{
    font-size: 13px;
    margin-left: 0px;
    font-weight: 1000;
    text-align: center;
    margin-bottom: 25px;
    text-align: end;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif  ;
}
.span10{
    font-size: 13px;
    margin-left: 2px;
    font-weight: 1000;
    text-align: center;
    margin-bottom: 25px;
    text-align: end;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif  ;
}
.span10a{
    font-size: 13px;
    margin-left: 12px;
    font-weight: 1000;
    text-align: center;
    margin-bottom: 25px;
    text-align: end;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif  ;
}
.span11{
    font-size: 13px;
    margin-left: 5px;
    font-weight: 1000;
    text-align: center;
    margin-bottom: 25px;
    text-align: end;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif  ;
}
.span11a{
    font-size: 13px;
    margin-left: 2px;
    font-weight: 1000;
    text-align: center;
    margin-bottom: 25px;
    text-align: end;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif  ;
}
.span12{
    font-size: 13px;
    margin-left: 15px;
    font-weight: 1000;
    text-align: center;
    margin-bottom: 25px;
    text-align: end;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif  ;
}
.span12a{
    font-size: 13px;
    margin-left: 35px;
    font-weight: 1000;
    text-align: center;
    margin-bottom: 25px;
    text-align: end;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif  ;
}
nav{
    display: flex;
    justify-content: space-between;
    
    width: 65%;
    
    background-color: rgb(240, 240, 240);
   
    font-size: 20px;
    position: relative;
    font: bold;
    text-decoration: none;
    padding: 10px 20px;
    position: fixed;
    z-index: 2;

}
nav ul{
display: flex;
text-decoration: none;
list-style-type: none;
justify-content: center;
align-items: center;
}
a{
    text-decoration: none;
    position: relative;
    margin-right: 20px;
    padding: 10px;
    color: black;
    font: bold;
    display: flex;
    margin-top: 0px;
    justify-content: center;
    text-align: center;
    font-weight: 1000;
    
}
.login{
    background-color: #e9ecef;
    width: 160px;
    height: 60px;
    border-radius: 40px;
    border: none;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: large;
    text-align: center;
    justify-content: center;
    position: absolute;
    top: 15%;
    left: 0%;
    
}
.login:hover{
    background-color: white;
}
.signup{
    background-color: #e9ecef;
    width: 160px;
    height: 60px;
    border-radius: 40px;
    border: none;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: large;
    text-align: center;
    justify-content: center;
    position: absolute;
    top: 15%;
    left: 40%;
   
}
.signup:hover{
    background-color: white;
}
.login img{
   margin-left: -50px;
   margin-top: -5px;
}
.login p{
    margin-left: 30px;
    margin-top: -25px;
}
.signup img{
    margin-left: -70px;
    margin-top: -5px;
 }
 .signup p{
     margin-left: 30px;
     margin-top: -30px;
 }
 .btn{
background-color: rgb(240, 240, 240);
position: absolute;
left: 65%;
top: 0%;
width: 35%;
height: 12.3%;
position: fixed;
z-index: 2;
 }
 .inline{
    margin-top: 120px;
 }
 .gen{
    font-size: 40px;
    margin-top: -600px;
    margin-left: 800px;
    font-weight: 1000;
 }
 .cus{
    font-size: 25px;
    margin-top: 50px;
    margin-left: 800px;
    color: #6c757d;
    font-family: Raleway, sans-serif;
 }

 .bg3 img{
    margin-top: 30px;
    margin-left: 650px;
 }
.ach{
    
    font-size: 40px;
    margin-top: -500px;
    margin-left: 60px;
    
    font-weight: 1000;
}
.pro{
    font-size: 25px;
    margin-top: 50px;
    margin-left: 60px;
    color: #6c757d;
    font-family: Raleway, sans-serif;  
}
input::placeholder{
    height: 40px;
    width: 400px;
    background-color: green;
    z-index: 150;
    border-radius: 40px;
    position: absolute;
    top: 95%;
    left: 45%;
}
.bg4{
    width: 100%;
    height: 120vh;
    background-size: cover;
    background-position: center;
    background-color: #fafdff;
    justify-content: center;
    align-items: center;
}
.bg4 img{
    position: absolute;
    top: 405%;
    left: 20%;
}
.stress{
    font-size: 40px;
    margin-top: 50px;
    margin-left: 100px;
    text-align: center;
    font-weight: 1000;
}
.secure{
    font-size: 25px;
    margin-top: 50px;
    margin-left: 60px;
    text-align: center;
    color: #6c757d;
    font-family: Raleway, sans-serif; 
}
.bg5{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-color: #f0f5fa;
    justify-content: center;
    align-items: center;
}
.download{
    font-size: 40px;
    margin-top: 50px;
    margin-left: 750px;
    
    font-weight: 1000;
}
.transfar{
    font-size: 25px;
    margin-top: 50px;
    margin-left: 750px;
    
    color: #6c757d;
    font-family: Raleway, sans-serif; 
}
.bg5 img{
    margin-top: 100px;
    margin-left: 750px;
}
.saab{
    height: 60px;
    width: 200px;
    color: white;
    background-color: #f16521;
    border: none;
    border-radius: 40px;
margin-top: 470px;
margin-left: 460px;
font-size: medium;
box-shadow: 0px 5px 20px #f16521 ;
}
.pob{
    height: 60px;
    width: 200px;
    color: black;
    background-color: #e9ecef;
    border: none;
    border-radius: 40px;
position: absolute;
top: 476%;
margin-left: 40px;
font-size: medium;

 
}
.btn3{
    height: 60px;
    width: 300px;
    color: white;
    background-color: #f16521;
    border: none;
    border-radius: 40px;
position: absolute;
top: 230%;
margin-left: 760px;
font-size: medium;
box-shadow: 0px 5px 20px #f16521 ;
}
.btn2{
    height: 60px;
    width: 150px;
    color: black;
    background-color: #e9ecef;
    border: none;
    border-radius: 40px;
position: absolute;
top: 218%;
margin-left: 760px;
font-size: medium;

 
}
.bg6{
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
    
}
.paid{
    font-size: 40px;
    margin-top: 50px;
    margin-left: 100px;
    text-align: center;
    font-weight: 1000;
}
.api{
    font-size: 25px;
    margin-top: 50px;
    margin-left: 60px;
    text-align: center;
    color: #6c757d;
    font-family: Raleway, sans-serif; 
}
.dh{
   position: absolute;
top: 655%;
left: 15%;
   
}
.dc{
   
    position: absolute;
    top: 625%;
    left: 20%;
}
.bg6 button{
    height: 60px;
    width: 300px;
    color: white;
    background-color: #f16521;
    border: none;
    border-radius: 40px;
position: absolute;
top: 725%;
left: 50%;
font-size: medium;
box-shadow: 0px 5px 20px #f16521 ;

} 
.bg6 button:hover{
    background-color: #ca541e;
    
}
.bg7{
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 130vh;

}
.updates{
    position: absolute;
    top: 800%;
    left: 0%;
}
.final{
    position: absolute;
    top: 750%;
    left: 0%;
}
.btn4{
    height: 60px;
    width: 150px;
    color: white;
    background-color: #f16521;
    border: none;
    border-radius: 40px;
position: absolute;
top: 320%;
margin-left: 290px;
font-size: medium;
box-shadow: 0px 5px 20px #f16521 ;
}
.btn5{
    height: 60px;
    width: 150px;
    color: black;
    background-color: #e9ecef;
    border: none;
    border-radius: 40px;
position: absolute;
top: 320%;
margin-left: 120px;
font-size: medium;

 
}


/* .con1, .con2, .con3, .con4, .con5, .con6, .con7, .con8, .con9, .con10, .con11, .con12:hover{

} */
